div{
    /* essa função é apenas para definir a posição do elemento na tela */
    margin-left: 25%;
    margin-top: 25%;
}

img{
     height: 1vh;
    width: 2vw;
}

div:hover img{
    /* toda vez que o mouse passar por cima da div, a imagem aparecerá */
    display:inline-block;

}

div img{
    /* a imagem deve ter um display none para não aparecer na tela */
    display: none;
   
}

img{
    /* tamanho da imagem e tipo de display */
    height: 4vh;
    width:2vw;
    display: inline-block;
}

p{
    /* tamanho e tipo de display do paragrafo */
    display: inline-block;
    font-size: 200%;
}